/*Home*/
.navbar{
  .text-decoration-none {
    text-decoration: none !important;
  }
  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 300 !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
    height: 100%;
  }
  
  .navbar-nav .dropdown-menu {
    position: absolute;
    min-width: 15rem;
  }
  
  .navbar-light .navbar-nav .nav-link.active,
  .static-position.active > a {
    color: var(--blueSuzuki) !important;
    font-weight: 700 !important;
  }
  
  .dropdown-menu {
    padding-top: 0px;
    .dropdown-item::after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      padding: 6px;
      background-image: url(/images/icons/arrowSide.png);
      background-repeat: no-repeat;
    }
  }
  
  .dropdown-item {
    text-transform: uppercase;
    margin: 20px 0px;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-collapse {
    height: 100% !important;
  }
  
  .nav-collapse .navbar-nav {
    height: 100% !important;
    /*  padding-top: 15px;*/
  }
  
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .show > .nav-link {
    color: #1a1a1a;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #1a1a1a;
  }
  .dropdown-toggle::after {
    float: right;
    display: block;
    margin-top: 12px;
    margin-right: 3px;
  }
  .sticky-top {
    background-color: #ffffff;
  }
  .dropdown-menu.show {
    animation: anima 0.6s forwards;
  }
  .static-position .dropdown-menu.show {
    width: 100%;
    padding: 0;
    margin: 0;
    .nav-modelo{
      cursor: pointer;
    }
    .active,
    .inactive {
      justify-content: space-between;
      font-size: 20px;
      text-transform: uppercase;
      color: #3d3d3d;
      height: 50%;
    }
    .modelo {
      position: absolute;
      right: -5%;
      top: -4%;
    }
    .active {
      background: #dddddd;
      font-weight: 700;
      .nombre label {
        text-decoration-line: underline;
      }
    }
    .inactive {
      background: linear-gradient(0deg, #e8e8e8, #e8e8e8), #dddddd;
    }
    .info {
      background: white;
      overflow: hidden;
    }
    .caracteristicas {
      justify-content: flex-start;
      margin: auto;
      .appear {
        padding-left: 0px;
      }
      button {
        width: auto;
      }
    }
    .galery-model {
      width: -webkit-fill-available;
      height: 232px;
    }
    .col-12.d-lg-flex.d-none.h-100 {
      margin-left: 0px;
      padding: 0px;
      justify-content: space-between;
      overflow: hidden;
    }
    @media only screen and (max-width: 1080px) {
      .modelo {
        width: 75%;
        top: 10%;
        right: -10%;
      }
    }
    @media only screen and (max-width: 1200px) {
      .modelo {
        width: 75%;
        right: -12%;
        top: 5%;
      }
      button {
        font-size: 15px !important;
      }
    }
  }
  
  @keyframes anima {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes animahide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .static-position {
    position: static !important;
  }
  
  /*Aspect ratio imagenes*/
  .img-dropdown {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .text-boler {
    font-weight: bold;
  }
  
  .btn-drop-down {
    display: block !important;
    width: 100% !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    line-height: 0 !important;
  }
  
  .text-title-size-dropdown {
    font-size: 1.4rem;
  }
  
  #container-navlink .nav-link:not(.btn-toyota-go):not(.nav-link-dropdown) {
    padding-top: 1.2rem !important;
    padding-bottom: 1.2rem !important;
  }
  #container-navlink .nav-link.btn-toyota-go {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
  }
  #container-navlink .nav-link.btn-toyota-go span {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  
  #container-navlink .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    padding: 0.28rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 5' fill='none'%3E%3Cpath d='M0.960063 4.5284C0.669271 4.23587 0.669271 3.76342 0.960064 3.4709L3.96006 0.470898C4.10467 0.33139 4.2992 0.255737 4.50007 0.260898C4.69942 0.259745 4.89103 0.338008 5.03257 0.478398L8.03257 3.4784C8.32459 3.77249 8.32291 4.24763 8.02882 4.53965C7.73472 4.83167 7.25959 4.82999 6.96757 4.5359L4.50007 2.0759L2.02506 4.5359C1.88324 4.67689 1.69098 4.75541 1.491 4.754C1.29102 4.75259 1.09989 4.67138 0.960063 4.5284Z' fill='%2320201E'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    margin-top: 7px;
    transform: rotate(-180deg);
  
  }
  #container-navlink .active.nav-item.dropdown .dropdown-toggle {
    color: var(--blueSuzuki) !important;
    font-weight: 700 !important;
  }
  #container-navlink .active.nav-item.dropdown .dropdown-toggle::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 5' fill='none'%3E%3Cpath d='M0.960063 4.5284C0.669271 4.23587 0.669271 3.76342 0.960064 3.4709L3.96006 0.470898C4.10467 0.33139 4.2992 0.255737 4.50007 0.260898C4.69942 0.259745 4.89103 0.338008 5.03257 0.478398L8.03257 3.4784C8.32459 3.77249 8.32291 4.24763 8.02882 4.53965C7.73472 4.83167 7.25959 4.82999 6.96757 4.5359L4.50007 2.0759L2.02506 4.5359C1.88324 4.67689 1.69098 4.75541 1.491 4.754C1.29102 4.75259 1.09989 4.67138 0.960063 4.5284Z' fill='%23002C42'/%3E%3C/svg%3E");
    margin-top: 10px;
    transform: rotate(0deg);
  }
  .navbar-toggler {
    border: 0 !important;
  }
  .sidebar {
    position: fixed;
  
    width: 100%;
    transition: all 0.3s ease;
    transform: translate3D(0%, 0, 0);
    -ms-transform: translate3D(0%, 0, 0);
    -o-transform: translate3D(0%, 0, 0);
    -webkit-transform: translate3D(0%, 0, 0);
    -moz-transform: translate3D(0%, 0, 0);
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: white;
    height: 100vh !important;
  }
  .side-bar-content {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }
  .side-bar-content .link-side-bar-content {
    color: #404042 !important;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-weight: 600;
  }
  .side-bar-content .card-header {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  
  .sidebar .sidebar-icon-close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 18px;
  }
  
  .header-collpase-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .l-header {
    display: block;
    margin-bottom: 3%;
    color: #404042 !important;
  }
  
  .side-bar-content .collapse .l-header {
    margin: 14px 0;
  }
  
  .side-bar-content .btn-toyota-go {
    padding: 0.5rem 10px;
    margin-bottom: 3rem;
  }
  .sidebar .container-scroll {
    height: 100%;
    overflow: scroll;
  }
  .side-bar-content .header-collpase-card .icon-dropdown {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB3SURBVHgB7ZHBDYAgDEU/ToKbFAfXbiKTqBQwCGlPXmkCNOH9RxqAWb/LvQ3RdpbuCswcNZiIPLAc0jPvq5xLu75ly0ABzbCvLEZBSCtqkiEcCzuM0ECXQCfhKOPUd7rwd8ROoEsAK6wKFAmssCnoJVlg/sws4AHSNDtK46L5ogAAAABJRU5ErkJggg==");
    width: 1rem;
    height: 1rem;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .side-bar-content .header-collpase-card.show .icon-dropdown {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABmSURBVHgB7ZDBDcAgCEXBSRhFJ5dRnKQ0FhrbBEgPPfpPKrynArCDUaHWSgCl6+5ozDw+Cx4w2dGIJJjDYgBSJMEclmZtPZJgBt+NWvMlZd3vwzO6nq+5vkRruC+BgAf7EoGdH3MC0TZMxtvHp0kAAAAASUVORK5CYII=");
  }
  
  /* Extra small devices (portrait phones, less than 576px)*/
  @media (max-width: 575.98px) {
    #container-navlink .dropdown-menu {
      border: 0 !important;
    }
  }
  
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) {
    #container-navlink .dropdown-menu {
      border: 0 !important;
    }
  }
  
  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {
    #container-navlink .dropdown-menu {
      border: 0 !important;
    }
  }
  
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .text-title-size-dropdown {
      font-size: 1.2rem;
    }
  
    #container-navlink .nav-link {
      padding-left: 16px !important;
      padding-right: 16px !important;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {
    #container-navlink .nav-link.btn-toyota-go span {
      padding-left: 3rem !important;
      padding-right: 3rem !important;
    }
  }
  
  @media (max-width: 1080px) {
    .navbar-light .navbar-nav .nav-link {
      font-size: 16px !important;
    }
    .navbar-light .navbar-nav .nav-link.active {
      font-size: 17px !important;
    }
  }
  
}
